<div class="header">
  <div class="one">Codeial</div>
  <div>
    <div class="two">
      <% if(locals.user){ %>
      <span>
        <a href="/users/profile/<%=user.id%>"> <%= user.name %> </a>
      </span>
      <span>
        <a href="/users/sign-out">Sign out</a>
      </span>
      <% } else { %>
      <span>
        <a href="/users/sign-in">Sign in</a>
      </span>
      <span>
        <a href="/users/sign-up">Sign up</a>
      </span>
      <% } %>
    </div>
  </div>
</div>
